.heading {
  font-size: 100px;
  font-weight: 500;
  text-align: center;
  margin: 5px;
  color: rgba(175, 47, 47, 0.25);
}


.main{
  display:flex;
  flex-direction: column;
  margin:auto;
  border: none;
  width: 650px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.top{
 
  width:600px;
  height:60px;
  display: flex;
  margin: auto;
}

body{
  background: #f5f5f5;
}

::placeholder{
  color: #E5E8EA   ;
  font-style: italic;
}
